*{
    padding: 0;
    margin: 0;
}
#preloader{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #98af06;
  z-index: 99999;
  /* transition: all 5s; */
}
#afterpreloader{
    display: none;
    position: fixed;
    z-index: 9999999;
    height: 100%;
    width: 100%;
    background-color: #98af06;
    animation: anim_preloader_after;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes anim_preloader_after {
    0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}
.preloader_image{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 100px;
    animation: preloader_anim 0.6s linear infinite  alternate;
}
@keyframes preloader_anim {
    0%{
        filter: grayscale(100%);
    }
    100%{
        filter: grayscale(35%);
    }
}  


  body{
    font-family: montserrat;
  }
  nav{
    background: #008000;
    height: 80px;
    width: 100%;
  }
  #rjd_logo{
    height: 70px;
    margin-top: -10px;
    margin: 0px 0 0 10px;
}
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #056d05;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
#contribute{
    background-color: #98af06;
    color: white;
    height: 40px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }

#section_1{
  position: relative;
  background-color: pink;
  width: 100%;
}
.left{
  position: absolute;
  width: 30%;
  height: 90vh;
  /* background-color: rosybrown; */
  background-image: url(images/bihar_background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
}
.right{
  position: absolute;
  width: 70%;
  height: 90vh;
  /* background-color: #008000; */
  /* background-image: url(images/Tejashwi-Yadav-salil-bera11.jpg); */
  background-image: linear-gradient(to right, #ababac 5%, transparent 25%),
  url('images/Tejashwi-Yadav-salil-bera11.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0;
}
.card{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#card_div_1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #003482;
  opacity: 1;
  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  padding: 100px 50px;  
  font-size: 30px;
  line-height: 35px;
}
#card_div_2{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 130px;
  opacity: 1;
  font-family: 'Kanit', sans-serif;
  color: white;
  text-align: center;
  padding: 100px 50px;  
  font-size: 20px;
  line-height: 25px;
}
#card_read_more{
  position: absolute;
  margin-top: 400px;
  opacity: 1;
  font-family: 'Kanit', sans-serif;
  color: white;
  background-color: #008000;
  opacity: 1;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
  padding: 10px 40px;  
  border-radius: 30px;
  font-size: 20px;
  line-height: 25px;
}
.indicators {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 20px;
  color: white;
  transform: translateX(-50%);
}
.indicators .active {
  transition: border-radius 0.2s;
  border: 1px solid white;
  border-radius: 60px;
  color: green !important;
}
#section_2{
  position: relative;
  background-color: #008000;
  width: 100%;
  margin-top: 90vh;
  padding: 50px 0;
}
#party_agenda{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: white;
  text-decoration: underline;
  /* animation: bounce;
  animation-duration: 2s;  */
  opacity: 0;
}
#party_agenda.animate__animated,#agenda_content.animate__animated,#join_box.animate__animated,.image-container.animate__animated{
  opacity: 1 ;
}
#agenda_content{
  text-align: center;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;
  padding: 20px 20%;
  opacity: 0;
}
#section_3{
  position: relative;
  background-color: #b7b7b8;
  width: 100%;
  height: 130px;
}
#yelowline{
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  border: 2px solid yellow;
  margin-top: -2px;
  transform: translate(-50%, -50%);
}
#join_box{
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding: 10px 50px;  
  font-size: 30px;
  line-height: 35px;
  background-color: #008000;
  border-radius: 30px;
  text-shadow: 2px 2px grey;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;  
}
#section_4{
  position: relative;
  width: 100%;
  height: 100vh;
}
#section_5{
  position: relative;
  background-color: #008000;
  overflow-x: hidden;
}
.dashed-line{
  position: absolute;
  width: 50%;
  border: 2px white dashed;
  left: 50%;
  top: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);  
}
#social_media_heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 50px 0px;
  font-weight: 900;
  color: white;
  text-decoration: underline;
  line-height: 40px;
}
.image-container {
  display: grid;
  width: 80%;
  margin: auto auto;
  grid-template-columns: 33% 33% 33%;
  opacity: 0;
}
.image-item {
  text-align: center;
}
.image-item img{
  width: 100px;
  /* max-width: 100%; */
  height: auto;
  margin: 0px 50px;
}
.image-item p {
  margin-top: 10px;
}
#section_6{
  position: relative;
  background-color: #b7b7b8;
  width: 100%;
  height: 110vh;
}
#sec6_carousel{
  opacity: 0;
}
#sec6_carousel.animate__animated{
  opacity: 1;
  /* left: 10%; */
}
.galary_heading{
  position: absolute;
  background-color: #8d8d92;
  left: 50%;
  top: 40px;
  transform: translate(-50%);
  font-size: 30px;;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 30px;
  color: white;
  text-shadow: 2px 2px black;
}

.carousel-container {
  position: absolute;
  width: 80%;
  height: 80vh;
  top: 150px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.indicators_slider {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.bubble.active {
  background-color: #555;
}

.arrow {
  font-size: 45px;
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

#section_7{
  background-color: #b7b7b8;
  padding: 20px 10%;
}
#new_media_heading{
  font-size: 30px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 20px;
}
#grid1{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: auto;
  gap: 70px;
  justify-content: center;         /*Horizontal center */
}
.grid1cont{
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
}
#grid1_cont1{
  background-image: linear-gradient(to top, black 5%, transparent 40%),
  url(images/grid_image/rashtriya_janata_dal_rjd_chief_lalu_prasad_yadav__1672924912.webp);
}
#grid1_cont2{
  background-image: linear-gradient(to top, black 5%, transparent 40%),
  url(images/grid_image/q19u8pqo_tejashwi-yadav-pti_625x300_23_October_20.webp);
}

#grid1_cont3{
  background-image: linear-gradient(to top, black 5%, transparent 40%),
  url(images/grid_image/mjohpuv8_lalu-yadav_625x300_11_October_22.webp);
}
#grid1_cont4{
  background-image: linear-gradient(to top, black 5%, transparent 40%),
  url(images/grid_image/rashtriya_janata_dal_rjd_chief_lalu_prasad_yadav__1672924912.webp);
}
#grid1_cont5{
  background-image: linear-gradient(to top, black 5%, transparent 40%),
  url(images/grid_image/q19u8pqo_tejashwi-yadav-pti_625x300_23_October_20.webp);
}
#grid1_cont6{
  background-image: linear-gradient(to top, black 5%, transparent 40%),
  url(images/grid_image/mjohpuv8_lalu-yadav_625x300_11_October_22.webp);
}
.grid_text{
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 18px;
  color: white;
  line-height: 22px;
  padding-bottom: 5px;
}
#section_9{
  background-color: #b7b7b8;
  margin-top: 10px;
}
.grid5{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 600px 600px 600px;
  padding: 25px 5%;
  gap: 50px;
  justify-content: center;
  height: 650px;
}
.grid4cont{
  background-color: white;
  border-radius: 11px;
}
#grid4cont3{
  /* background-color: rgba(16, 162, 16,0.5); */
  overflow: auto;
}
.notice_heading{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  background-color: #008000;
  padding: 20px;
  color: white;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.notice_box{
  /* width: 100%; */
  height: auto;
  margin: 10px 20px;
}
.notice_text{
  font-size: 17px;
  padding: 15px 0px;
  border-bottom: 2px solid grey;
}
#section_8{
  margin-top: 10px;
  width: 100%;
  background-image: url(images/bottom_banner.png);
  background-size: 100% 100%;
}
.green_screen{
  width: 100%;
  height: 100%;
  background-color: rgba(16, 162, 16,0.5);
  padding: 25px 10%;
}
.bottom_boxing{
  width: 100%;
  height: 100%;
  opacity: 1;
  color: white;
}
.grid2{
  display: grid;
  margin: auto;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px;
  padding-bottom: 50px;
}
.grid2cont{
  display: relative;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.bottom_title{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  line-height: 55px;
  margin-bottom: 20px;
}
.Usefull_links_bottom{
  display: block;
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}
.bottom_button_click{
  width: 70%;
  background-color: green ;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgba(228, 199, 10,0.8);
  font-weight: bold;
}
.social_media_grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 50px;
  color: white;
}
.contact_us_icon{
  display: inline-flex;
  font-size: 28px;
}
.contact_us_text{
  padding-left: 10px;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
#bottom_line{
 width: 100%;
 border: 2px white solid; 
}
.bottom_split{
  display: flex;
}
.bottom_split .left{
  left: 0;
}
.bottom_split .right{
  right: 0;
}
.contact_us_section{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2px;
}
.grid3{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.last_line{
  text-align: center;
}
@media (max-width: 952px){
    #rjd_logo{
      height: 70px;
      float: left; 
      margin-top: -10px;
      margin: 0px 0 0 10px;
    nav ul li a{
      font-size: 16px;
    }
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  #rjd_logo{
      height: 40px;
      margin-top: 15px;
              
  }    
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #056d05;
    top: 80px;
    left: -100%;
    z-index: 5;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #section-1 {
    flex-direction: column-reverse;
  }
  .right{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
  .left{
    margin-top: 700px;
    width: 100%;
    height: 400px !important;
    top: 100%;
    transform: translateY(-100%);      
  }
  #card_div_1{
    padding: 80px 20px;  
    font-size: 20px;
    line-height: 25px;
  }
  #card_div_2{
    padding: 20px 20px;  
    font-size: 15px;
    line-height: 20px;
  }
  #card_read_more{
    margin-top: 300px;
    padding: 5px 20px;  
    font-size: 15px;
    line-height: 20px;
  }
  #section_2{
    margin-top: 700px;
  }
  #agenda_content{
    padding: 20px 10%;
    font-size: 12px;
  }
  #section_3{
    height: 100px;
  }
  #join_box{
    font-size: 15px;
    padding: 5px 30px;
  }
  #section_4{
    width: 100%;
    height: 250px;
  }
  #social_media_heading{
    font-size: 20px;
    padding: 25px 20%;
  }
  .image-container{
    width: 100%;
  }
  .image-container img{
    margin: auto auto;
  }
  .dashed-line{
    display: none;
  }
  .image-item img{
    width: 50px;
  }
  .galary_heading{
    font-size: 15px;
    padding: 10px 20px;
    margin-top: -5px;
  }
  #section_6{
    width: 100%;
    height: 360px;
  }
  #section_8{
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .carousel-container{
    width: 100%;
    height: 250px;
    top: 100px;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  .carousel{
    height: 200px;
  }
  #section_7{
    padding: 25px 25px;
  }
  #grid1{
    width: 100%;
    grid-template-columns: 100%;
    gap: 40px;
  }
  #grid1_cont4,#grid1_cont5,#grid1_cont6{
    display: none;
  }
  .grid2{
    width: 100%;
    grid-template-columns: 50% 50%;
  }
  .bottom_title{
    font-size: 15px;
    line-height: 20px;
  }
  .Usefull_links_bottom,.contact_us_text{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .bottom_button_click{
    font-size: 11px;
    padding: 5px 10px;
  }
  .contact_us_icon{
    font-size: 20px;
  }
  .bottom_s_media_icon{
    font-size: 45px;
    width: 100%;
    text-align: center;
  }
  .social_media_grid{
    display: grid;
    width: 90%;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 50px;
  }

  .grid3{
    width: 90%;
    grid-template-columns: 100%;
  }
  .last_line{
    gap: 10px;
  }
  .preloader_image{
    width: 100px;
    height: auto;}
  .grid5{
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 400px 400px 400px;
    height: auto;
  }
  .notice_heading{
    font-size: 15px;
    padding: 10px 20px;
  }
  .notice_box{
    margin: 10px 10px;
  }
  .notice_text{
    font-size: 14px;
  }
}